/*
Theme Name: Finpet Theme
Theme URI: 
Author: Kridsada Patho

*/

#header {
    background: #fcfad4
}
#header h1, #header h2, #header h3, #header h4, #header h5, #header h6 {
    color: black
}
#header > nav ul li a.active {
    background: #fff;
    color: black !important;
}
#header > nav ul li {
    border-top: solid 2px black;
    display: block;
    padding: 0;
}
#header > nav ul li a {
    color: black
}